body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}


.description_universe{
    align-items: center;
    justify-items: center;
}





@media (min-width:750px) {

    ul.dimensions__pages{
        gap: 45px;
    }

    }

